* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-color: antiquewhite;
    padding: 15px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

.logo > h2 {
    display: inline-block;
    vertical-align: middle;
}

select {
    padding-right: 100px;
}

button {
    padding: 0 15px;
}

/* MAIN */
main {
    background-color: lightblue /*#7fffd4*/;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-grid {
    width: 600px;
    height: 600px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-grid.easy .square {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

#main-grid.hard .square {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

#main-grid.crazy .square {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.square.green
{
    background-color: lightseagreen;
}

.square.red
{
    background-color: lightcoral;
}